{% extends 'home.html' %}
{% load static %}
{% block content %}


<body style=" background-image: url('{% static 'image/l4.jpg' %}') ">
  <center><br><br>
  <fieldset style="background-color:rgb(241, 238, 234) ;width: 30%;height:350px;border-radius: 15px;opacity: .9;">
  <div  class="add">
 <br><br>
  <h1 style="text-align: center;color:rgb(208, 147, 77);font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
      ADD CATEGORY
  </h1>
  
  <center>
  <form style="color: rgb(0, 0, 0);" method="post" action= "{% url 'add_category' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <label style="font-size:x-large">Enter book category:</label><br>
      <input  type="text" name="category"><br><br>
     
      
      <div class="col-md-12 row">
        <div class="col-md-6"> <button class=" btn btn-block btn-success col-md-12" style="background-color:rgb(0, 0, 0);color:aliceblue" type="submit" id="sub">SUBMIT</button></div>
        <div class="col-md-6"> <a class="btn btn-block btn-success col-md-12" style="background-color: black;" href="{% url 'show_category' %}">SHOW CATEGORIES</a>
        </div>
      </div>
     
  </form>
</center>
</fieldset>
</center>
</div>
</body>
{% endblock %}