{% extends 'home.html' %}

{% block content %}

<fieldset style="width:700px ;margin-left:450px;background-color: rgb(239, 239, 239);border-radius: 1cm ;opacity:.9;">
  <center><h1 style="margin-top:1cm ;color: rgb(26, 128, 237);">SIGN IN</h1></center>
  <form style="padding:1cm ;" method="POST" action="{% url 'signin' %}" class="was-validated">
    {% csrf_token %}

    <div class="mb-3 mt-3">
      <label for="uname" class="form-label">Username:</label>
      <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" id="myCheck" name="remember" required>
      <label class="form-check-label" for="myCheck">Remember me</label>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Check this checkbox to continue.</div>
    </div>
   <center> <button type="submit" class="btn btn-primary">LOGIN</button></center>
  </form></fieldset>
  {% endblock %}