{% extends 'home.html'%}

{% block content %}
<div class="col-md-12 row">
    <div class="col-md-3"></div>
    <div class="col-md-6 shadow-lg p-3 mb-5  rounded row  mt-3 border" style="background-color: #01010126;">
       <div class="col-md-12 text-center"><h1>Edit Profile</h1></div> 
        <form method="POST"  action="{% url 'edit_profile' %}"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12 row d-flex justify-content-center">
            <div class="col-md-6 mt-3 ">
                <label>first_name</label>
            </div>
            <div class="col-md-6 mt-3">
            <input class="form-control" type="text" placeholder="First Name" name="fname" value="{{ user.first_name }}">
            </div>
            <div class="col-md-6 mt-3">
                <label>last_name</label>
            </div>
            <div class="col-md-6 mt-3">
                <input class="form-control" type="text" placeholder="Last Name" name="lname" value="{{ user.last_name }}">
            </div>
            <div class="col-md-6 mt-3">
                <label>user_name</label>
            </div>
            <div class="col-md-6 mt-3">
                <input class="form-control" type="text" placeholder="User Name" name="username" value="{{ user.username }}">
            </div>
            <div class="col-md-6 mt-3">
                <label>email_id</label>
            </div>
            <div class="col-md-6 mt-3">
                <input class="form-control" type="Email" placeholder="Email ID" name="email" value="{{ user.email }}"><br>
            </div>
            </div>

            <div class="col-md-12 row">
             <div class="col-md-6">
            <button class="btn btn-block btn-danger m-2" type="reset" style="float: center;margin: 10px 0 0 18.2%;">CANCEL</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-block btn-success m-2" type="submit" style="float: center;margin:10px 18.2% 0 0;">DONE</button>
        </div>
        </div>
        </form>
    </div>
</div>
</div>




















{% endblock %}